
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}


/* Layout
----------------------------------------------------------------------------------------------------*/

html {
	background: url(../images/body_bkgd.png) repeat-x;
    background-color:black;
	padding: 0px 0px 40px 0px;
	text-align: center;
}

footer {
	clear: both;
    padding-top: 30px;
	color: rgb(225, 228, 230);
	
    bottom:0px;
    left: 100px;
    right:100px;
	border: none;
    text-align:center;
    position:fixed;
}


aside.left {
    float: left; 
    top: 0px;
    bottom:0px;
    position:fixed;
    padding-top:0;
    
}
aside.right {
    float: right; 
    top: 0px;
    bottom:0px;
    right:0px;
    position:fixed;
    padding-top:183;
    
}
#central {
    
    float:none; 
    top:183px;
    bottom:0px;
    left:200px;
    position:absolute;
   
    z-index :-1000;
    
}
#logoTxt {
	background: url(../images/Spiderman_logo.png) top right no-repeat;
	position: absolute;
	top: 0px;
	left: 220px;
	width: 300px;
	height: 151px;
	border: none;
}
#fans h1{
     position: absolute;
	top: 80px;
	left: 620px;
	
	height: 50px;
	border: none;
    color: #fff;
    text-align: center;
    font-size: 40px;
     }
#logo {
	background: url(../images/Spider_Man_2.gif) top left no-repeat;
	position: absolute;
	top: 13px;
	left: 1050px;
	width: 300px;
	height: 151px;
	border: none;
}

#logo h1, #logoTxt h2 {
	color: #fff;
	font-size: 22px;
	
	text-align: center;
}

#logo h2 {
	color: #fff;
}

#logoTxt h1 span, #logoTxt h2 span {
	display: inline;
	position: absolute;
	top: 80px;
    left: 400;
	width: 124px;
	z-index: 9;
	border: none;
}

 #form{
        position: absolute;
       color: rgb(225, 228, 230);
    top: 200px;
    left: 100px;
    right:100px;
    padding-top:30px;
    padding-left:200px;
    padding-right:200px;
    
    
  }

 /* Set a style for all buttons */
.loginbtn,.signupbtn {
  background-color: DodgerBlue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.loginbtn:hover {
  opacity:1;
}
.signupbtn:hover {
  opacity:1;
}
/* Extra styles for the cancel button */
.loginbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.loginbtn, .signupbtn {
  float: left;
  width: 50%;
}





/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .loginbtn, .signupbtn {
     width: 100%;
  }
}